<!DOCTYPE html>
<html>

<head>
  {% extends 'base.html' %}
  {% load static %}
  {% block title %}About us{% endblock %}
</head>


<body class="sub_page">
  {% block hero_image %}
  {% static 'images/pronto_outs.webp' %}
  {% endblock %}

  {% block content %}

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/DSC_0880.jpg' %}" alt="">
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container  ">

        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="{% static 'images/pronto_logo.jpg' %}" alt="" style="border-radius: 50%;">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  The Pronto Ilorin
                </h2>
              </div>
              <p>
                Pronto Ilorin is a vibrant restaurant and lounge in Ilorin, offering delicious meals,
                refreshing drinks, and a cozy ambiance for all to enjoy.
                We also boast a serene space, to cater to your aesthetic venue needs.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->

    <div class = 'gallery'>
      <div class="container-fluid">
          <div class="gallery-row">
            <div class="column">
              <img src="https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
              <img src="https://images.pexels.com/photos/2419375/pexels-photo-2419375.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
              <img src="{% static 'images/outside.jpg' %}" />
              <img src="https://images.pexels.com/photos/3251006/pexels-photo-3251006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
              <img src="https://images.pexels.com/photos/1980720/pexels-photo-1980720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
            </div>
            <div class="column">
              <img src="{% static 'images/pronto_outs.webp' %}">
              <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <img src="https://images.pexels.com/photos/2091160/pexels-photo-2091160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
              <img src="https://images.pexels.com/photos/2019546/pexels-photo-2019546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </div>
            <div class="column">
              <img src="{% static 'images/inside.jpg' %}" />
              <video autoplay loop muted width="300" height="300" src="{% static 'images/Spaghetti.mp4' %}" >
              </video>  
              <img src="{% static 'images/outs_day.jpg' %}">
              <img src="https://images.pexels.com/photos/259987/pexels-photo-259987.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <img src="https://images.pexels.com/photos/2350514/pexels-photo-2350514.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
        </div>
  </div>

    <!-- end about section -->
    {% endblock %}

</body>

</html>