<!DOCTYPE html>
<html>

<head>
  {% extends 'base.html' %}
  {% load static %}
  {% block title %}About us{% endblock %}
</head>


<body class="sub_page">
  {% block hero_image %}
  {% static 'images/pronto_outs.webp' %}
  {% endblock %}

  {% block content %}

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/DSC_0880.jpg' %}" alt="">
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container  ">

        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="{% static 'images/pronto_logo.jpg' %}" alt="" style="border-radius: 50%;">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  The Pronto Ilorin
                </h2>
              </div>
              <p>
                Pronto Ilorin is a vibrant restaurant and lounge in Ilorin, offering delicious meals,
                refreshing drinks, and a cozy ambiance for all to enjoy.
                We also boast a serene space, to cater to your aesthetic venue needs.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->
    {% endblock %}

</body>

</html>