{% extends 'base.html' %}

{% load static %}
{% block title %}Events{% endblock %}

<body class="sub_page">
    {% block hero_image %}
    {% static 'images/drink_col.webp' %}
    {% endblock %}
    {% block content %}
    <h2>Upcoming Events</h2>

    <div class="event-list">
        {% for event in events %}
        <div class="card" style="width: 18rem;">
            {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.name }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">
                    Date: {{ event.date }}<br>
                    Time: {{ event.time }}<br>
                    Location: {{ event.location }}<br>
                    Description: {{ event.description }}
                </p>
                {% if event.ticket_url %}
                <a href="{{ event.ticket_url }}" class="btn btn-primary">Get Ticket</a>
                {% else %}
                <p>Tickets not yet available</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class = 'gallery'>
        <div class="container-fluid">
            <div class="gallery-row">
              <div class="column">
                <img src="https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                <img src="https://images.pexels.com/photos/2419375/pexels-photo-2419375.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <img src="https://images.pexels.com/photos/2326290/pexels-photo-2326290.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <img src="https://images.pexels.com/photos/3251006/pexels-photo-3251006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <img src="https://images.pexels.com/photos/1980720/pexels-photo-1980720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
              </div>
              <div class="column">
                <img src="https://images.pexels.com/photos/3546429/pexels-photo-3546429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <img src="https://images.pexels.com/photos/2091160/pexels-photo-2091160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                <img src="https://images.pexels.com/photos/2019546/pexels-photo-2019546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
              </div>
              <div class="column">
                <img src="https://images.pexels.com/photos/3889868/pexels-photo-3889868.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <img src="https://images.pexels.com/photos/2360569/pexels-photo-2360569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <img src="https://images.pexels.com/photos/3779785/pexels-photo-3779785.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <img src="https://images.pexels.com/photos/259987/pexels-photo-259987.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <img src="https://images.pexels.com/photos/2350514/pexels-photo-2350514.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              </div>
            </div>
          </div>
    </div>

    {% endblock %}

</body>


